<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>Pizzeria Vecchio Mulino</h1>
	
	<h2 th:if="${pizzas.size() < 1}">Le pizze sono momentaneamente esaurite ...</h2>
		
	<div th:if="${pizzas.size() > 0}"></div>
	
	<form>
		
		<label for="search">SEARCH</label>
		
		<input type="text" name="search" />
		
		<input type="submit" value="SEARCH" />
		
	</form>
	
	<ul>
		
		<li 
		
			th:each="pizza : ${pizzas}"
			
			th:object="${pizza}"
		
		>
			
			<a th:href="'/pizzas/' + ${pizza.getId()}">
				
				[[*{name}]]
				
			</a>
			
		</li>
		
	</ul>
	
</body>

</html>